/****************
*    Footer     *
****************/
footer {
  height: auto;
}
footer.footer {
/*position: absolute !important;*/
  padding : 0;
  text-align:center;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*! height: ; */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f6f6f6;
  bottom: 0;
}
footer .resolve-grid { /* Solve the conflict between fulpage.JS(CSS) and Bootstrap */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding : 10px 0;
}
footer a{
  display: inline-block;
  position: relative;
  margin : 3px auto;
  text-align: center;
}
footer img {
  width : 100%;
  margin : none ;
  border : none ;
}
.hexagone {
  position: relative;
  width: 60px;
  height:60px;
  border : dashed 1px white;
  margin: 0;
  border-radius : 50%;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
  background : #fff;
}
.hexagone:hover {
  -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);
    filter: none;
    filter: grayscale(0%);
}
.copyright {
  color : #626060;
  background : rgba(210, 210, 210, 0.3);

}

footer a {
    margin : 0 5%;
}

