{% extends "layout.html" %}
{% block content %}
            <div class="col md-12">
                <div class="bug-rport-2">

                                <div class="primary-a col-md-12 col-lg-12 brise">
                                    <center>
                                    <!--<div class="primary-a col-sm-12 col-lg-6">-->
                                        <h1 style="color: white;">Agronomic Linked Data</h1>
                                        <h3 style="color: white;">The RDF Knowledge-based Database for plant molecular networks</h3>
                                        <br>
                                    </center>

                                    </div>
                             <div id="sform">
                                    <center>
                                    <form id="search" action="http://agrold.southgreen.fr/fct/facet.vsp?cmd=text&sid=231" method="post" target="_blank">
                                    <!--form id="search" action="http://volvestre.cirad.fr:8890/fct/facet.vsp?cmd=text&sid=231"" method="post" target="_blank"-->
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <!--input type="text" class="form-control" placeholder="Search for..."-->
                                                <input class="keyword form-control" name="q" type="text" placeholder="examples: GRP2 or TCP12 or plant height" data-step="1" data-intro="Type your expression and then ..."/>
                                                <span class="input-group-btn">
                                                    <input class="btn btn-secondary" type="submit" value="Search" data-step="2" data-intro="launch the search engine!" required/>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="error"></div>
                                    <div class="success"></div>
                                    <span style="margin-top:30px;color:red;display:none" class="message">Please enter a keword</span>
<!--                                    <script>
                                        $('form#search').click(function(e){
                                            var request=$(".keyword").val();
                                            console.log('request'+request);
                                             if(request==""){
                                                $('.message').show();
                                                e.stopPropagation();
                                                e.preventDefault();
                                            }else{
                                                $('.message').hide();
                                                saveRequest(request);
                                            }
                                        });

                                        function saveRequest(keyword){
                                            $.ajax({
                                                type:'post',
                                                data:'p={m:"setQuickSearch",keyword:'+keyword+'}',
                                                url:'ToolHistory',
                                                success:function(data){
                                                    $('.success').html(data);
                                                }
                                            });
                                        }
                                    </script>-->
                                </center>
                            </div>
                </div>
            </div>

{% endblock content %}


