<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  <script src="https://kit.fontawesome.com/265c532431.js" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='config/config.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/lib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/knetmaps_adaptator.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/URI.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='json/result.json') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.min.js') }}"></script>
  <script href="{{ url_for('static', filename='swagger/lib/swagger-client.js') }}" type="text/javascript"></script>
  <script>
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/static/json/agrold_api.json");
  xhr.addEventListener('load', processJSON);
  xhr.send();

  function processJSON(event) {
    var json = this.responseText;
    var obj = JSON.parse(json);
    // and do something with obj here
  }
</script>
  {% if title %}
  <title>Test - {{ title }}</title>
  {% else %}
  <title>Test</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <div class="body-wrap">
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='images/v5.png')}}" style="
    height: 20px;></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b
                      class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('test')}}">Advanced Search</a></li>
                    <li><a href="#">Explore Relationship</a></li>
                    <li><a href="{{ url_for('sparql1')}}">SPARQL Query</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Help <b
                      class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('documentation')}}">Documentation</a></li>
                    <li><a href="{{ url_for('quicksearch')}}">Facted Search</a></li>
                  </ul>
                </li>
                <li><a href="{{ url_for('about')}}">About</a></li>


              </ul>

              <ul class="nav navbar-nav navbar-right">
                <a href="https://twitter.com/agro_ld?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @agro_ld</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <!--<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b
                      class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Account information</a></li>
                    <li><a href="#">Change Password</a></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </header>




  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer class="footer" {% block script %}{% endblock %} >
  <div class="container">
    <div class="col-md-12 col-lg-12 resolve-grid">
      <div class="col-md-2">
        <a href="http://www.ibc-montpellier.fr/wp/wp5"><div class="hexagone"><img src="{{ url_for('static', filename='images/IBC.png')}}" alt="IBC"></div></a>
      </div>
      <div class="col-md-2">
        <a href="http://www.cirad.fr"><div class="hexagone"><img alt="CIRAD" src="{{ url_for('static', filename='images/CIRAD.png')}}"></div></a>
      </div>
      <div class="col-md-2">
        <a href="http://www.ird.fr"><div class="hexagone"><img src="{{ url_for('static', filename='images/IRD.png')}}" alt="IRD"></div></a>
      </div>
      <div class="col-md-2">
                            <a href="https://www.umontpellier.fr"><div class="hexagone"><img src="{{ url_for('static', filename='images/UM.png')}}" alt="Univ. Montpellier"></div></a>
      </div>
      <div class="col-md-2">
                                <a href="https://www.france-bioinformatique.fr"><div class="hexagone"><img src="{{ url_for('static', filename='images/IFB.png')}}" alt="INRIA"></div></a>
      </div>

      <div class="col-md-2">
        <a href="http://www.southgreen.fr"><div class="hexagone"><img src="{{ url_for('static', filename='images/southgreen.png')}}" alt="INRIA"></div></a>
      </div>

    </div>
  </div>
  <div class="copyright">&COPY; AgroLD 2019</div>
</footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
  </script>
  <script type="text/javascript">
    $("document").ready(function(){
    setTimeout(function(){
        $("div.alert").remove();
    }, 5000 ); // 5 secs

});

  </script>

</body>

</html>
