{% extends "layout.html" %}

{% block content %}
                <section>
                    <div id="advanced-form" class="border-right">

<div style="text-align: center; color: white;">
    <!--ul>
    <li>ontological concepts: 'plant height' or 'regulation of gene expression'</li>
    <li>Gene: keyword 'stachyose' or name 'TCP2'.</li>
    <li>Pathway:  keywords 'fermentation' or 'acetate' or 'cytokinins'</li>
    <li>protein:  name 'TBP1', keyword 'qtl'</li>
    <li>QTL: name 'BNL6.32' or keyword 'trait'</li>
    </ul-->
Some examples:<br>
ontological concepts: 'plant height' or 'regulation of gene expression'.<br>
    Gene: keywords 'stachyose', 'protein_coding', 'qtl', 'Constitutive flowering repressor', 'fungal growth'; or name 'TCP2'.<br>
    Pathway:  keywords 'fermentation' or 'acetate' or 'cytokinins'.<br>
    protein:  name 'TBP1', keyword 'qtl'.<br>
    QTL: name 'BNL6.32' or keyword 'trait'.<br>
</div>

<!--<center>
    <div class="container">
        <form id="sform">

                <option value="" default>--- Select a type* ---</option>
                <option value="gene">Gene</option>
                <option value="protein">Protein</option>
                <option value="qtl">QTL</option>
                <option value="pathway">Pathway</option>
                <option value="ontology">Ontology</option>
            </select>
            <input id="input" class="keyword" name="keyword" type="text" autofocus placeholder="Type here ..." style="display: inline"/>
            <input id="submit" class="yasrbtn" type="submit" value="Search" style="display: inline"/>
        </form>
    </div>
</center>-->
<!-- TEST -->
<div class="Q-Search A-Search">
    <div class="container delim">
        <div class="row">
            <div class="col-lg-12">
                <span style="color:#ff0000" id="message"></span>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" id="afft" value="" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter by
                        </button>
                        <div class="dropdown-menu cht">
                            <a class="dropdown-item" href="/gene">Gene</a>
                            <br>
                            <a class="dropdown-item" href="/protein">Protein</a>
                            <br>
                            <a class="dropdown-item" href="/qtl">QTL</a>
                            <br>
                            <a class="dropdown-item" href="/pathway">Pathway</a>
                            <br>
                            <a class="dropdown-item" href="/ontology">Ontology</a>
                        </div>
                    </div>
                    <input id="keyword" class="keyword" name="keyword" type="text" autofocus="" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="jcb" value="Search">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var ht = '' ; // Set ht Value from GET request
    var hk = '' ; // Set hk Value from GET request
    var HISTORY = false;

    var SearchContext = {
        type: null,
        uri: null,
        keyword: null,
        ACTIVE: null // future CURRENT_RESULT
    };
    var ModalContext = {
        type: null,
        uri: null,
        id: null,
        keyword: null,
        ACTIVE: null,
        clean: function () {
            this.type = null;
            this.uri = null;
            this.id = null;
            this.keyword = null;
            this.ACTIVE = null;
        },
        notFound: function () {
            this.clean();
            $('.modal-result').html('<h1 class="nfound">No data found :(</h1>');
        }
    }
    var FOCUS_KEYWORD = 0;

    jQuery('input[type=text]#keyword').on('keydown', function (e) {
        if (e.which == 13) {
            $('#jcb').click();
        }
    });
    $('#jcb').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        /* Keyword ok ? */
        if ($('#afft').attr('value') === "") {
            $("#message").html('Select a type please');
        } else {
            if (!($('#advanced-form').attr('class').includes('searched')))
                $('#advanced-form').addClass('searched');
            $("#message").html('');
            checkForm();
            if(!HISTORY)
                saveRequest();
            else
                HISTORY=false;
            search(SearchContext.type, SearchContext.keyword, 0);
        }
    });
    /* Switch pour émuler un select:option */
    $(document).ready(function (e) {
        $('.cht a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("/", "");
            var concept = $(this).text();
            $('#afft').text(concept);
            $('#afft').val(param);
        });
        // On va regarder si l'uilisateur consulte son historique de recherche avancée
        if(hk !== '' && ht!==''){
            HISTORY = true;
            $('#keyword').attr('value',hk);
            $('#afft').text(ht);
            $('#afft').val(ht);
            $('#jcb').click();
        }
    });
    /* Récupération des éléments du formulaire de recherche */
    function checkForm() {
        SearchContext.type = $('#afft').attr('value');
        SearchContext.keyword = $('#keyword').val();
    }
    function saveRequest(){
        $.ajax({
            type:'post',
            data:'p={m:"setAdvancedSearch",type:"'+SearchContext.type+'",keyword:"'+SearchContext.keyword+'"}',
            url:'ToolHistory',
            success:function(data){
                $('.success').html(data);
            }
        });
    }

</script>





<div class="modal fade" id="result-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="mban adv">
                <div class="subtitle"></div>
                <div class="desc"></div>
                <div class="mnvi"></div>
            </div>
            <div class="modal-body">
                <div class="uri-md"></div>
                <div class="modal-result"></div>
                <div class="modal-wait"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /***************************************************************/
    /*********************  Specific modal code ********************/
    /***************************************************************/
    var MODAL_OPEN = 0;
    /**
     * On ferme le modal
     */
    jQuery('#result-modal').on('hidden.bs.modal', function () {
        MODAL_OPEN = 0;
        for(var i in ModalContext.ACTIVE)
            if (ModalContext.ACTIVE.hasOwnProperty(i) && typeof ModalContext.ACTIVE[i] === 'number')
                ModalContext.ACTIVE[i] = 0;

    });
    /* On veut consulter un résultat */
    $('body').on('click', '.mdpre', function (e) {
        console.log('####--- MODAL ---####');
        console.log('# -- Click event DISPLAY');
        /* garde la page courante */
        e.preventDefault();
        /* Injection des résultats */
        ModalContext.uri = decodeURIComponent(e.target.id);
        initModalContent(String($(this).attr('name')));
        /* Récupération de l'uri */
        /* lancement du modal ssi pas ouvert */
        if (++MODAL_OPEN < 2) {
            $('body /result-modal').modal();
            console.log('************ # CACHE URI ' + ModalContext.uri);
        } else
            SearchContext.uri = decodeURIComponent(e.target.id);
        e.preventDefault();
    });

    function initModalContent(n) {
        console.log('####--- MODAL ---####');
        console.log('# -- initModalContent()');
        // On récupère le type du select au travers du context de recherche
        if (MODAL_OPEN == 0)
            ModalContext.ACTIVE = window[SearchContext.type];
        else
            ModalContext.ACTIVE = window[n];
        WaitingModal(0);
        // Le context actif injecte son HTML { gene, protein, ... }
        $('.modal-result').html(ModalContext.ACTIVE.html);
        //graphicalInitialisation();
        window.swagger = new SwaggerClient({
            url: url,
            success: function () {
                console.log("# -- Call swagger for MODAL");
                ModalContext.ACTIVE.getDescription(ModalContext.uri);
            }
        });
        console.log('#### --- ## --- ####')
    }
    function JSON_DEBUG(json) {
        for (var i in json) {
            console.log('- ' + i + ' : ' + json[i]);
            if (json[i].length)
                JSON_DEBUG(json[i]);
        }
    }
    function invoke(functionName, arg) {
        console.log('####--- MODAL ---####');
        console.log("CALL INVOKE : " + functionName, );

        window["ModalContext"]["ACTIVE"][functionName](arg);
    }
    /* Lance l'attente graphique du modal */
    function WaitingModal(sands) {
        if (sands === 0) {
            $('.modal-title').html("");
            $('.subtitle').html("");
            $('.desc').html("");
            $('.uri-md').html("");
            $('.modal-result').html('');
            $('.modal-wait').html('<div class="loader loader-double is-active"></div>');
        } else {
            $('.modal-wait').html('');
        }
    }
    initModalEvent();
    function initModalEvent() {
        $('body').on('click', '.nav-link', function (e) {
            /* Suppression de l'événement */
            $(this).attr('onclick', '');
            /* Effets de navigation */
            $('.nav-link.active').removeClass('active');
            $(this).addClass('active');
            var tabs = document.getElementsByClassName('o-panel');
            var i = 0;
            /* On cache les autres panels */
            for (i = 0; i < tabs.length; i++) {
                if ($(tabs[i]).attr('id').includes(e.target.id)){
                    $(tabs[i]).show();
//                    $('body .modal-pagination-top .o-pa-'+(e.target.id)).show();
//                    $('body .modal-pagination-bottom .o-pa-'+(e.target.id)).show();
                }else{
                    $(tabs[i]).hide();
//                    $('body .modal-pagination-top .o-pa-'+(e.target.id)).hide();
//                    $('body .modal-pagination-bottom .o-pa-'+(e.target.id)).hide();
                }
            }
        });
    }
    function graphicalInitialisation(){
        var tmp = $('.modal-result nav.advs').clone();
        $('nav.advs').remove();
        $('.mnvi').html(tmp);
    }
</script>
                    </div>
                    <div id="result-container">
                        <div class="container">

                        </div>
                        <div class="container">
                            <!--div id="overlay" style="display: none;"></div-->

                            <!--script> IF KEYWORD != NULL
                                $(document).ready(function () {
                                var keyword = "";
                                $('#type option[value=' + type + ']').prop('selected', true);
                                $("input.keyword").val(keyword);
                            });
                        </script-->
                        <!--span id="Search-info">Search <b></b> with keyword </span><span id="pageBtns"></span-->
                        <div id="result"></div>
                        <script src="{{ url_for('static', filename='js/search.js') }}" type="text/javascript"></script>

                    </div>


                </div>

                <!-- Les differents types dispo dans le select -->

<!--div id="header"></div-->
<script type="text/javascript">
var protein = {
    currentGenePage : 0,
    currentNeighborPage : 0,
    currentQtlPage : 0,
    currentOntologyPage : 0,
    html:'<nav id="proteinPage" class="nav nav-tabs flex-column flex-sm-row advs">\
                <div id="geneContainer">\
                    <span id="genePageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-geneResult" href="javascript:void(0)" id="gene"> is encoded by </a></span>\
                </div>\
                <div id="qtlContainer">\
                    <span id="qtlPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-qtlResult" href="javascript:void(0)" id="qtl"> QTL</a></span>\
                </div>\
                <div id="ontologyContainer">\
                    <span id="ontologyPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-ontologyResult" href="javascript:void(0)" id="ontology"> Ontology </a></span>\
                </div>\
                <div id="graphViewContainer">\
                       <span id="graphViewPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-graphViewResult" href="javascript:void(0)" id="graphView"> View as graph </a></span>\
                   </div>\
                <!--div id="publicationContainer">\
                    <span id="publicationPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-publicationResult" href="javascript:void(0)" id="publication"> Publications </a></span>\
                </div-->\
            </nav>\
        <div id="geneResult" class="o-panel o-active"></div>\
        <div id="qtlResult" class="o-panel"></div>\
        <div id="ontologyResult" class="o-panel"></div>\
        <div class="o-panel" id="graphViewResult"></div>\
        <!--div id="publicationResult" class="o-panel"></div-->',
uri: "",
        getDescription: function(uri){
            this.uri = uri;
            var sparql = 'PREFIX agrold:<http://www.southgreen.fr/agrold/vocabulary/> \
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> \
SELECT distinct  ?Id ?Name ?Description (?entity AS ?Uri) \
WHERE { \
  VALUES ?entity{ \
    <' + uri + '> \
  } \
?entity agrold:description ?Description .  \
OPTIONAL{?entity rdfs:label ?Name .} \
BIND(REPLACE(str(?entity), \'^.*(#|/)\', \"\") AS ?Id) \
}';

        var query = sparqlEndpoint + "?query=" + encodeURIComponent(sparql) + "&format=application/json";
        var tthis= this;
        $.get(query, function (json) {
            DBG = json;
            WaitingModal(1);
            dispalyHeader("protein", json);
            if(typeof (json["results"]["bindings"][0]) !== 'undefined')
                ModalContext.id = json["results"]["bindings"][0]["Id"]["value"];
            else
                ModalContext.notFound();
            console.log(json);
            console.log("# -- CALL OF ADDEVENT : this.id" + tthis.id);
            tthis.addEvents();
            console.log('Chargement Terminé');
            $('/result-modal /gene').click();
        });
    },
    addEvents :function() {
        $("/gene").attr("onclick", "invoke('searchGenesEncodingProtein'," + this.currentGenePage + ")");
        $("/qtl").attr("onclick", "invoke('searchQtlsAssociatedWithProtein'," + this.currentQtlPage + ")");
        $("/ontology").attr("onclick", "invoke('searchOntologyTermsAssociatedWithProtein'," + this.currentOntologyPage + ")");
        $("/publication").attr("onclick", "invoke('searchPublications'," + null + ")");
        $("/graphView").attr("onclick", "invoke('callViewAsGraph')");
    },
        callViewAsGraph: function () {
            viewAsGraph(this.uri, "graphViewResult");
        },
    searchGenesEncodingProtein:function(page) {
        this.currentGenePage = page;
        var type = "gene";
        var containerId = type + "Container";
        displayHoldMessage("/" + "Protein" + "Result");
        var tthis=this;
        swagger.apis.gene.getGenesEncodingProteins({format: DEFAULTAPIFORMAT, proteinId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            var sparqljson = data.data;
            var resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                var pageBtnsId = type + "PageBtns";
                tthis.displayInformation(data, page, type+"result", pageBtnsId, "searchGenesEncodingProtein");
                processHtmlResult(type);
            });
        });
    },
    searchQtlsAssociatedWithProtein:function(page) {
        this.currentQtlPage = page;
        var type = "qtl";
        var containerId = type + "Container";
        displayHoldMessage("/" + type + "Result");
        var tthis=this;
        swagger.apis.qtl.getQtlsAssociatedWithProteinId({format: DEFAULTAPIFORMAT, proteinId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            var sparqljson = data.data;
            var resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                var pageBtnsId = type + "PageBtns";
                tthis.displayInformation(data, page, type+"result", pageBtnsId, "searchQtlsAssociatedWithProtein");
                processHtmlResult(type);
            });
        });
    },
    searchOntologyTermsAssociatedWithProtein:function(proteinId, page) {
        currentGenePage = page;
        type = "ontology";
        containerId = "ontologyContainer";
        displayHoldMessage("/" + type + "Result");
        var tthis=this;
        swagger.apis.ontologies.getOntoTermsAssociatedWithProtein({format: DEFAULTAPIFORMAT, proteinId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            sparqljson = data.data;
            resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                pageBtnsId = type + "PageBtns";
                tthis.displayInformation(data, page, type+"result", pageBtnsId, "searchOntologyTermsAssociatedWithProtein");
                processHtmlResult(type);
            });
        });
    },
    searchPublications:function(proteinId) {
        displayHoldMessage("/publicationResult");
        // get PubMed Id from G-link web service
        var tthis=this;
        swagger.apis.protein.getPublicationsOfProteinById({
            proteinId: ModalContext.id
        },{
            responseContentType: 'application/json'
        },function (data) {
            var json = data.obj;
            displayPublications(json, "publicationResult");
            /*console.log(json);
            if (json.length > 0) {
                $("#publicationResult").append("<ol></ol>");
                for (i = 0; i < json.length; i++) {
                    $("#publication").html("");
                    url = json[i]["URL"];
                    $("#publicationResult ol").append('<li id="paper'+i+'"><span>'+json[i]["Authors"]+', " <b>'+json[i]["Title"]+'</b> ", <i>'+json[i]["Journal"]+'</i>, '+json[i]["Year"]+'</span></li>');
                    $("#publicationResult ol li#paper"+i).append('<br><span>More at: <a href="' + url + '" target="_blank">' + url + '</a></span>');
                }
            } else {
                $("#publicationResult").append("No publication found.")
            }*/
        });
    },
    displayInformation: function(data, page, where, functionName) {
        nbResults = data.obj["results"]["bindings"].length;
        previousBtnId = "previousPage";
        nextBtnId = "nextPage";
        addNavButtons(nbResults, page, where, previousBtnId, nextBtnId, String(functionName));
    }
}
</script>


                    <!--div id="header"></div-->
<script type="text/javascript">
    var qtl = {
        currentProteinPage: 0,
        html: '<nav id="qtlPage" class="nav nav-tabs flex-column flex-sm-row advs">\
                    <div id="proteinContainer">\
                        <span id="proteinPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-parentResult" href="javascript:void(0)" id="protein">Protein associations</a></span>\
                    </div>\
                    <div id="ontologyContainer">\
                        <span id="ontologyPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link o-parentResult" href="javascript:void(0)" id="ontology">Ontology associations</a></span>\
                    </div>\
                    <div id="graphViewContainer">\
                       <span id="graphViewPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-graphViewResult" href="javascript:void(0)" id="graphView"> View as graph </a></span>\
                   </div>\
                </nav>\
                <div class="o-panel o-active" id="proteinResult"></div>\
                <div class="o-panel" id="ontologyResult"></div>\
                <div class="o-panel" id="graphViewResult"></div>',

        getDescription: function (uri) {
            this.uri = uri;
            var sparql = 'PREFIX agrold:<http://www.southgreen.fr/agrold/vocabulary/> \
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> \
SELECT distinct  ?Id ?Name group_concat(distinct ?d;separator=\"; \") as ?Description (?entity AS ?Uri) \
WHERE { \
  VALUES ?entity{ \
    <' + uri + '> \
  } \
OPTIONAL{?entity agrold:has_trait ?d .}  \
OPTIONAL{?entity rdfs:label ?Name .} \
BIND(REPLACE(str(?entity), \'^.*(#|/)\', "") AS ?Id) \
}';
        console.log(sparql)

            var query = sparqlEndpoint + "?query=" + encodeURIComponent(sparql) + "&format=application/json";
            var tthis = this;
            $.get(query, function (json) {
                DBG = json;
                WaitingModal(1);
                dispalyHeader("qtl", json);
                if (typeof (json["results"]["bindings"][0]) !== 'undefined')
                    ModalContext.id = json["results"]["bindings"][0]["Id"]["value"];
                else
                    ModalContext.notFound();
                console.log(json);
                console.log("# -- CALL OF ADDEVENT : this.id" + this.id);
                tthis.addEvents();
                console.log('Chargement Terminé');
                $('/result-modal /protein').click();
            });
        },
        addEvents: function () {
            $("/protein").attr("onclick", "invoke('searchProteinsAssociatedWithQtl'," + this.currentProteinPage + ")");
            $("/ontology").attr("onclick", "invoke('searchOntologyTermsAssociatedWithQtl'," + this.currentOntologyPage + ")");
            $("/graphView").attr("onclick", "invoke('callViewAsGraph')");
        },
        callViewAsGraph: function () {
            viewAsGraph(this.uri, "graphViewResult");
        },
        searchProteinsAssociatedWithQtl: function (page) {
            this.currentGenePage = page;
            var type = "protein";
            var containerId = type + "Container";
            displayHoldMessage("/" + type + "Result");
            var tthis = this;
            swagger.apis.protein.getProteinsAssociatedWithQtl({format: DEFAULTAPIFORMAT, qtlId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page},
                    {responseContentType: 'application/json'}, function (data) {
                var sparqljson = data.data;
                var resultId = type + "Result";
                displayResult(resultId, sparqljson);
                $("tr.odd").ready(function () {
                    var pageBtnsId = type + "PageBtns";
                    tthis.displayInformation(data, page, containerId, pageBtnsId, "searchProteinsAssociatedWithQtl");
                    processHtmlResult(type);
                });
            });
        },
        searchOntologyTermsAssociatedWithQtl: function (page) {
            this.currentGenePage = page;
            var type = "ontology";
            var containerId = type + "Container";
            displayHoldMessage("/" + type + "Result");
            var tthis = this;
            swagger.apis.ontologies.getOntoTermsAssociatedWithQtl({format: DEFAULTAPIFORMAT, qtlId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page},
                    {responseContentType: 'application/json'}, function (data) {
                var sparqljson = data.data;
                var resultId = type + "Result";
                displayResult(resultId, sparqljson);
                $("tr.odd").ready(function () {
                    var pageBtnsId = type + "PageBtns";
                    tthis.displayInformation(data, page, containerId, "searchOntologyTermsAssociatedWithQtl");
                    processHtmlResult(type);
                });
            });
        },
        displayInformation: function (data, page, where, functionName) {
            var nbResults = data.obj["results"]["bindings"].length;
            var previousBtnId = "previousPage";
            var nextBtnId = "nextPage";
            addNavButtons(nbResults, page, where, previousBtnId, nextBtnId, String(functionName));
//        $("#" + type + " #" + previousBtnId).attr("onclick", functionName + '("' + pathwayId + '",' + (page - 1) + ')');
//        $("#" + type + " #" + nextBtnId).attr("onclick", functionName + '("' + pathwayId + '",' + (page + 1) + ')');
        }
    };

</script>

<script type="text/javascript">
    var pathway = {
        currentGenePage: 0,
        html: '<nav id="pathwayPage" class="nav nav-tabs flex-column flex-sm-row advs">\
                    <div id="geneContainer">\
                        <span id="genePageBtns" class="pageNavBtns">\
                            <a class="flex-sm-fill text-sm-center nav-link active o-geneResult"  href="javascript:void(0)" id="gene">Participating genes</a>\
                        </span>\
                    </div>\
                    <div id="graphViewContainer">\
                       <span id="graphViewPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-graphViewResult" href="javascript:void(0)" id="graphView"> View as graph </a></span>\
                   </div>\
                </nav>\
                <div class="o-panel o-active" id="geneResult"></div>\
                <div class="o-panel" id="graphViewResult"></div>',
        getDescription: function (uri) {
            this.uri = uri;
            var sparql = 'PREFIX agrold:<http://www.southgreen.fr/agrold/vocabulary/> \
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> \
PREFIX meaning:<http://purl.obolibrary.org/obo/IAO_0000115> \
SELECT distinct  ?Id ?Name (?entity AS ?Uri) \
WHERE { \
  VALUES ?entity{ \
    <' + uri + '> \
  } \
OPTIONAL{?entity rdfs:label ?Name .} \
BIND(REPLACE(str(?entity), \'^.*(#|/)\', \"\") AS ?Id)\
}';
            console.log(sparql);
            var query = sparqlEndpoint + "?query=" + encodeURIComponent(sparql) + "&format=application/json";
            var tthis = this;
            $.get(query, function (json) {
                DBG = json;
                WaitingModal(1);
                dispalyHeader("pathway", json);
                if (typeof (json["results"]["bindings"][0]) !== 'undefined')
                    ModalContext.id = json["results"]["bindings"][0]["Id"]["value"];
                else
                    ModalContext.notFound();
                tthis.addEvents();
                $('/result-modal /gene').click();
            });
        },
        addEvents: function () {
            $("/gene").attr("onclick", "invoke('searchParticipatingGenes'," + this.currentGenePage + ")");
            $("/graphView").attr("onclick", "invoke('callViewAsGraph')");
        },
        callViewAsGraph: function () {
            viewAsGraph(this.uri, "graphViewResult");
        },
        searchParticipatingGenes: function (page) {
            this.currentGenePage = page;
            var type = "gene";
            var containerId = type + "Container";
            displayHoldMessage("/" + type + "Result");
            var tthis = this;
            swagger.apis.gene.getGenesByPathways({format: DEFAULTAPIFORMAT, pathwayId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page},
                    {responseContentType: 'application/json'}, function (data) {
                var sparqljson = data.data;
                var resultId = type + "Result";
                displayResult(resultId, sparqljson);
                $("tr.odd").ready(function () {
                    var pageBtnsId = type + "PageBtns";
                    tthis.displayInformation(data, page, type + "Result", pageBtnsId, "searchParticipatingGenes");
                    processHtmlResult(type);
                });
            });
        },
        displayInformation: function (data, page, where, functionName) {
            var nbResults = data.obj["results"]["bindings"].length;
            var previousBtnId = "previousPage";
            var nextBtnId = "nextPage";
            addNavButtons(nbResults, page, where, previousBtnId, nextBtnId, String(functionName));
        }
    };
</script>

<!--div id="header"></div-->
<script type="text/javascript">
    var gene = {
        currentProteinPage: 0,
        currentPathwayPage: 0,
        currentPublicationPage: 0,
        uri: "",
        getDescription: function (uri) {
            this.uri = uri;
            var sparql = 'PREFIX agrold:<http://www.southgreen.fr/agrold/vocabulary/> \
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> \
SELECT distinct  ?Id ?Name ?Description (?entity AS ?Uri) \
WHERE { \
  VALUES ?entity{ \
    <' + uri + '> \
  } \
OPTIONAL{?entity agrold:description ?Description}   \
OPTIONAL{?entity rdfs:label ?Name .} \
BIND(REPLACE(str(?entity), \'^.*(#|/)\', "") AS ?Id) \
}';
            console.log(sparql);
            var query = sparqlEndpoint + "?query=" + encodeURIComponent(sparql) + "&format=application/json";
            var tthis = this;
            $.get(query, function (json) {
                DBG = json;
                WaitingModal(1);
                dispalyHeader("gene", json);
                if (typeof (json["results"]["bindings"][0]) !== 'undefined')
                    ModalContext.id = json["results"]["bindings"][0]["Id"]["value"];
                else
                    ModalContext.notFound();
                tthis.addEvents();
                $('/result-modal /protein').click();
            });
        },
        addEvents: function () {
            $("/protein").attr("onclick", "invoke('searchProteinsEncodedByGene'," + this.currentProteinPage + ")");
            $("/pathway").attr("onclick", "invoke('searchPathwayInWhichParticipatesGene'," + this.currentPathwayPage + ")");
            $("/publication").attr("onclick", "invoke('searchPublications'," + this.currentPublicationPage + ")");
            $("/ontology").attr("onclick", "invoke('searchOntologicalTerms'," + this.currentPublicationPage + ")");
            $("/graphView").attr("onclick", "invoke('callViewAsGraph')");
            $("/expression").attr("onclick", "invoke('viewExpression')");
            $("/moreInfos").attr("onclick", "invoke('searchMoreInformations')");
        },
        searchProteinsEncodedByGene: function (page) {
            this.currentProteinPage = page;
            var type = "protein";
            displayHoldMessage("/" + type + "Result");
            var tthis = this;
            swagger.apis.protein.getProteinsEncodedByGene({format: DEFAULTAPIFORMAT, geneId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page}, {
                responseContentType: 'application/json'
            }, function (data) {
                sparqljson = data.data;
                var resultId = type + "Result";
                displayResult(resultId, data.data);
                $("tr.odd").ready(function () {
                    pageBtnsId = type + "PageBtns";
                    tthis.displayInformation(data, page, resultId, "searchProteinsEncodedByGene");
                    processHtmlResult(type);
                });
            });
        },
        searchPathwayInWhichParticipatesGene: function (page) {
            this.currentPathwayPage = page;
            var type = "pathway";
            displayHoldMessage("/" + type + "Result");
            var tthis = this;
            swagger.apis.pathway.getPathwaysInWhichParticipatesGene(
                    {format: DEFAULTAPIFORMAT, geneId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page}, {responseContentType: 'application/json'},
            function (data) {
                sparqljson = data.data;
                var resultId = type + "Result";
                displayResult(resultId, sparqljson);
                tables = $("table.resultsTable");
                //var tableClass = type;
                $(tables[tables.length - 1]).addClass(type);
                $("tr.odd").ready(function () {
                    tthis.displayInformation(data, page, resultId, "searchPathwayInWhichParticipatesGene");
                    processHtmlResult(type);
                });
            });
        },
        viewExpression: function () {
            // URLs redirecting to remote web service displaying the expression of genes in charts
         var gene_name = ModalContext.uri.substring(ModalContext.uri.lastIndexOf('/') + 1);
         $("/expressionResult").html('<ul>\n\
         <li><a href="https://www.ebi.ac.uk/gxa/genes/' + gene_name + '" target="_blank">Expression Atlas</a></li>\n\
    <li><a href="http://expression.ic4r.org/global-search?gene=' + gene_name + '" target="_blank">IC4R Rice Expression Database</a></li>\n\
    <li><a href="http://ic4r.org/genes/IC4R-' + gene_name + '" target="_blank">IC4R  Information Commons for Rice</a></li>\n\
    </ul>');
         },
        searchPublications: function (page) {
            this.currentPathwayPage = page;
            var type = "publication";
            displayHoldMessage("/" + type + "Result");
            var tthis = this;
            swagger.apis.gene.getPublicationsOfGeneById(
                    {format: DEFAULTAPIFORMAT, geneId: ModalContext.id, pageSize: DEFAULT_PAGE_SIZE, page: page}, {responseContentType: 'application/json'},
            function (data) {
                sparqljson = data.data;
                var resultId = type + "Result";
                displayResult(resultId, sparqljson);
                tables = $("table.resultsTable");
                //var tableClass = type;
                $(tables[tables.length - 1]).addClass(type);
                $("tr.odd").ready(function () {
                    // pageBtnsId = "" + "PageBtns";
                    tthis.displayInformation(data, page, resultId, "searchPublications:");
                    //processHtmlResult(type);
                });
            });
        },
        searchOntologicalTerms: function () {
            displayHoldMessage("/ontologyResult");
            // get Gene Ontology annotations from Gramene
            var type = "ontology";
            displayHoldMessage("/" + type + "Result");
            swagger.apis.ontologies.getOntoTermsAssociatedWithGene(
                    {format: ".json", geneId: ModalContext.id},
            {responseContentType: 'application/json'},
            function (data) {
                if (data.obj.length < 2) {
                    $("/ontologyResult").html('No associated Terms have been found.');
                    return;
                }
                $("/ontologyResult").html('<table id="ontoResultTable"  class="display compact"></table>');
                for (i = 0; i < data.obj.length; i++) {
                    delete data.obj[i].subset; // suppression de la colonne "subset"
                }
                simpleDataDisplay(data.obj, "ontoResultTable");
            }
            );
        },
        callViewAsGraph: function () {
            viewAsGraph(this.uri, "graphViewResult");
        },
        searchMoreInformations: function () {
            var uri = ModalContext.uri;
            $("/moreInfosResult").html('<ul></ul>');
            //$("/moreInfosResult ul").append('<li><a href="https://www.ebi.ac.uk/gxa/genes/' + uri.substring(uri.lastIndexOf('/') + 1) + '" target="_blank">Expression Atlas</a></li>');
            swagger.apis.gene.getSeeAlsoByURI(
                    {format: ".json", geneUri: this.uri},
            {responseContentType: 'application/json'},
            function (data) {
                var uris = data.obj;
                console.log("searchMoreInformations: " + JSON.stringify(uris));
                for (i = 0; i < uris.length; i++) {
                    $("#moreInfosResult ul").append('<li><a href="' + uris[i].link + '" target="_blank">' + uris[i].link + '</a></li>');
                }
            });
        },
        displayInformation: function (data, page, where, functionName) {
            nbResults = data.obj["results"]["bindings"].length;
            previousBtnId = "previousPage";
            nextBtnId = "nextPage";
            addNavButtons(nbResults, page, where, previousBtnId, nextBtnId, String(functionName));
        },
        html: '<nav id="genePage" class="nav nav-tabs flex-column flex-sm-row advs">\
                   <div id="proteinContainer">\
                       <span id="proteinPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-proteinResult" href="javascript:void(0)" id="protein"> Proteins </a></span>\
                   </div>\
                   <div id="pathwayContainer">\
                       <span id="pathwayPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link o-pathwayResult" href="javascript:void(0)" id="pathway"> Pathways </a></span>\
                   </div>\
                   <div id="publicationContainer">\
                       <span id="publicationPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link o-publicationResult" href="javascript:void(0)" id="publication"> Publications </a></span>\
                   </div>\
                   <div id="ontologyContainer">\
                       <span id="ontologyPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-ontologyResult" href="javascript:void(0)" id="ontology"> Terms associated </a></span>\
                   </div>\
                   <div id="graphViewContainer">\
                       <span id="graphViewPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-graphViewResult" href="javascript:void(0)" id="graphView"> View as graph </a></span>\
                   </div>\
                   <div id="expressionContainer">\
                       <span id="expressionPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-expressionResult" href="javascript:void(0)" id="expression"> Expression </a></span>\
                   </div>\
                   <div id="moreInfosContainer">\
                       <span id="moreInfosPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-moreInfosResult" href="javascript:void(0)" id="moreInfos"> See also </a></span>\
                   </div>\
               </nav>\
               <div class="o-panel o-active" id="proteinResult"></div>\
               <div class="o-panel" id="pathwayResult"></div>\
               <div class="o-panel" id="publicationResult"></div>\
               <div class="o-panel" id="ontologyResult"></div>\
               <div class="o-panel" id="graphViewResult"></div>\
               <div class="o-panel" id="expressionResult"></div>\
               <div class="o-panel" id="moreInfosResult"></div>'
    };
</script>



<script type="text/javascript">
    var ontology = {
    currentParentPage : 0,
    currentChildrenPage : 0,
    currentProteinPage : 0,
    currentQtlPage : 0,
    id:'',
    html:'<nav id="ontologyPage" class="nav nav-tabs flex-column flex-sm-row advs">\
            <div id="parentContainer">\
                <span id="parentPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link active o-parentResult" href="javascript:void(0)" id="parent"> Parents </a></span>\
            </div>\
            <div id="childrenContainer">\
                <span id="childrenPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link o-childrenResult" href="javascript:void(0)" id="children"> Children </a></span>\
            </div>\
            <div id="proteinContainer">\
                <span id="proteinPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link o-proteinResult" href="javascript:void(0)" id="protein"> Proteins associated </a></span>\
            </div>\
            <div id="qtlContainer">\
                <span id="qtlPageBtns" class="pageNavBtns"><a class="flex-sm-fill text-sm-center nav-link o-qtlResult" href="javascript:void(0)" id="qtl"> QTL associated </a></span>\
            </div>\
                    <div id="graphViewContainer">\
                       <span id="graphViewPageBtns"><a class="flex-sm-fill text-sm-center nav-link o-graphViewResult" href="javascript:void(0)" id="graphView"> View as graph </a></span>\
                   </div>\
        </nav>\
        <div class="o-panel o-active" id="parentResult"><div id="zbtn"></div></div>\
        <div class="o-panel" id="childrenResult"></div>\
        <div class="o-panel" id="proteinResult"></div>\
        <div class="o-panel" id="qtlResult"></div>\
<div class="o-panel" id="graphViewResult"></div>',
        //-- var ontologyUri = ;
        //-- function getontologyDescription(uri) {
    getDescription : function(uri) {
        this.uri = uri;
        var sparql = 'PREFIX agrold:<http://www.southgreen.fr/agrold/vocabulary/> \
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> \
PREFIX meaning:<http://purl.obolibrary.org/obo/IAO_0000115> \
SELECT distinct  ?Id ?Name ?Description (?entity AS ?Uri) \
WHERE { \
  VALUES ?entity{ \
    <' + uri + '> \
  } \
{?entity meaning: ?Description}UNION{BIND("" as ?Description)} .  \
{?entity rdfs:label ?Name}UNION{BIND("" as ?Name)} \
BIND(REPLACE(str(?entity), \'^.*(#|/)\', \"\") AS ?localname)\
BIND(REPLACE(?localname, \"_\", \":\") as ?Id).}';
        var query = sparqlEndpoint + "?query=" + encodeURIComponent(sparql) + "&format=application/json";
        var tthis = this;
        $.get(query, function (json) {
            DBG = json;
            WaitingModal(1);
            dispalyHeader("ontology", json);
            if(typeof (json["results"]["bindings"][0]) !== 'undefined')
                ModalContext.id = json["results"]["bindings"][0]["Id"]["value"];
            else
                ModalContext.notFound();
            console.log(json);
            console.log("/ -- CALL OF ADDEVENT : this.id" + this.id);
            tthis.addEvents();
            console.log('Chargement Terminé');
            $('/parent').click();
        });
    },
//    $(document).ready(function () {
//        getontologyDescription(ontologyUri);
//    });
    addEvents : function() {
        console.log("AddEvents CALL");
        $("/parent").attr("onclick", "invoke('searchParentById'," + this.currentParentPage + ")");
        $("/children").attr("onclick", "invoke('searchChildrenById'," + this.currentChildrenPage+ ")");
        $("/protein").attr("onclick", "invoke('searchProteinIdAssociatedWithOntoId'," + this.currentChildrenPage+ ")");
        $("/qtl").attr("onclick", "invoke('searchQtlsIdAssociatedWithOntoId'," + this.currentChildrenPage+ ")");
        $("/graphView").attr("onclick", "invoke('callViewAsGraph')");
    },
        callViewAsGraph: function () {
            viewAsGraph(this.uri, "graphViewResult");
        },
    searchParentById : function(page) {
        console.log('SEARCH PARENTT BY ID : ');
        this.currentParentPage = page;
        var type = "parent";
        var containerId = type+"Container";
        displayHoldMessage("/" + type + "Result");
        var idt = ModalContext.uri;
        var tthis = this;
        swagger.apis.ontologies.getParentById({format: DEFAULTAPIFORMAT, id:ModalContext.id , pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            var sparqljson = data.data;
            var resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                pageBtnsId = "zbtn"/*type + "PageBtns"*/;
                tthis.displayInformation(data, page, resultId, "searchParentById");
                processHtmlResult("ontology");
            });
        });
    },
    searchChildrenById : function(page) {
        this.currentChildrenPage = page;
        var type = "children";
        containerId = type+"Container";
        displayHoldMessage("/" + type + "Result");
        var tthis = this;
        swagger.apis.ontologies.getChildrenById({format: DEFAULTAPIFORMAT, id: ModalContext.id , pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            sparqljson = data.data;
            resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                pageBtnsId = type + "PageBtns";
                tthis.displayInformation(data, page, resultId, "searchChildrenById");
                processHtmlResult("ontology");
            });
        });
    },
    searchQtlsIdAssociatedWithOntoId : function(page) {
        this.currentChildrenPage = page;
        var type = "qtl";
        containerId = type+"Container";
        displayHoldMessage("/" + type + "Result");
        var tthis = this;
        swagger.apis.qtl.getQtlsIdAssociatedWithOntoId({format: DEFAULTAPIFORMAT, ontoId: ModalContext.id , pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            sparqljson = data.data;
            resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                pageBtnsId = type + "PageBtns";
                tthis.displayInformation(data, page, resultId, "searchQtlsIdAssociatedWithOntoId");
                processHtmlResult(type);
            });
        });
    },
    searchProteinIdAssociatedWithOntoId: function(page) {
        this.currentChildrenPage = page;
        var type = "protein";
        containerId = type+"Container";
        displayHoldMessage("/" + type + "Result");
        var tthis = this;
        swagger.apis.protein.getProteinIdAssociatedWithOntoId({format: DEFAULTAPIFORMAT, ontoId: ModalContext.id , pageSize: DEFAULT_PAGE_SIZE, page: page},
        {responseContentType: 'application/json'}, function (data) {
            sparqljson = data.data;
            resultId = type + "Result";
            displayResult(resultId, sparqljson);
            $("tr.odd").ready(function () {
                pageBtnsId = type + "PageBtns";
                tthis.displayInformation(data, page, resultId, "searchProteinIdAssociatedWithOntoId");
                processHtmlResult(type);
            });
        });
    },
    displayInformation: function(data, page, where, functionName) {
        nbResults = data.obj["results"]["bindings"].length;
        previousBtnId = "previousPage";
        nextBtnId = "nextPage";
        addNavButtons(nbResults, page, where, previousBtnId, nextBtnId, String(functionName));
//        $(".modal-pagination-top" + " /" + previousBtnId + '-top').attr("onclick", "invoke('"+ functionName + "', " + (page - 1) + ")");
//        $(".modal-pagination-top" + " /" + nextBtnId + '-top').attr("onclick", "invoke('"+ functionName + "', " + (page + 1) + ")");
//        $(".modal-pagination-bottom" + "/" + previousBtnId + '-bottom').attr("onclick", "invoke('"+ functionName + "', " + (page - 1) + ")");
//        $(".modal-pagination-bottom" + "/" + nextBtnId + '-bottom').attr("onclick", "invoke('"+ functionName + "', " + (page + 1) + ")");
    },
};

</script>

                    <!-- Appel via l'historique -->


            </section></div>
{% endblock %}
